* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-primary: #24292f;
}

.header {
  background-color: var(--color-primary);
  width: 100%;
  height: 5rem;
  margin: 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding-block: 0.5rem;
}

.title {
  color: white;
}

.body {
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  border: 1px solid black;
  border-radius: 0.5rem;
  padding-block: 0.3rem;
  padding-inline: 0.5rem;
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.user-name-input {
  border: none;
  outline: none;
}

.card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.user-card {
  background-color: var(--color-primary);
  margin-bottom: 20px;
  width: 70%;
  padding: 1rem;
  color: white;
  display: flex;
  border-radius: 0.5rem;
  gap: 1rem;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.user-card:hover {
  background-color: white;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.avatar {
  /* min-width: 50px;
  min-height: 50px; */
  max-width: 50px;
  max-height: 50px;
  border-radius: 100%;
  margin: 1rem;
}
.avatar-repo {
  min-width: 100px;
  min-height: 100px;
  max-width: 200px;
  max-height: 200px;
  border-radius: 100%;
  margin: 1rem;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.detail-container {
  background-color: white;
  border-radius: 1rem;
  width: 80%;
  padding: 1rem;
  position: absolute;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media (min-width: 500px) {
  .detail-container {
    padding: 5%;
    width: 70%;
  }
}

.user-detail-container {
  display: flex;
  flex-direction: column;
}

.login-name {
  color: #696969;
}

.row {
  display: flex;
  align-items: center;
}
.row-name {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* padding: 1rem; */
}

.row-repository {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.navigation a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  width: 100px;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  opacity: 1;
  transition: 0.1s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.navigation a:hover {
  opacity: 0.85;
}

.navigation p {
  display: flex;
  margin: 0 10px;
  background-color: var(--color-secondary);
  border-radius: 20px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
